# Frontend
frontend/node_modules
frontend/dist

# Backend
taskflow-backend/target
taskflow-backend/.idea
taskflow-backend/.classpath
taskflow-backend/.project
taskflow-backend/.settings

# General
.env
.DS_Store
